<!DOCTYPE html>
<html>
<head>
  <meta charset="UTF-8">
  <title>Predict Rental Price of house</title>
  <link href='https://fonts.googleapis.com/css?family=Pacifico' rel='stylesheet' type='text/css'>
<link href='https://fonts.googleapis.com/css?family=Arimo' rel='stylesheet' type='text/css'>
<link href='https://fonts.googleapis.com/css?family=Hind:300' rel='stylesheet' type='text/css'>
<link href='https://fonts.googleapis.com/css?family=Open+Sans+Condensed:300' rel='stylesheet' type='text/css'>
<link type="text/css" rel="stylesheet" href="{{ url_for('static', filename='./style.css') }}">
  
</head>

<body>
 <div class="login">
	<h1>Predict Rental Price of house</h1>

     <!-- Form to enter new data for predictions  -->
    <form action="{{ url_for('predict') }}" method="POST">
	

	
  
    	<input type="text" name="bedrooms" placeholder="bedrooms" required="required" /><br>
        <input type="text" name="baths" placeholder="baths" required="required" /><br>
        <input type="text" name="OnSiteLaundry" placeholder="On Site Laundry" required="required" /><br>
        <input type="text" name="AirConditioning" placeholder="Air Conditioning" required="required" /><br>
        <input type="text" name="Dishwasher" placeholder="Dishwasher" required="required" /><br>
		
    	<input type="text" name="HardwoodFloor" placeholder="Hardwood Floor" required="required" /><br>
        <input type="text" name="CentralHeat" placeholder="Central Heat" required="required" /><br>
        <input type="text" name="FitnessCenter" placeholder="Fitness Center" required="required" /><br>
        <input type="text" name="Storage" placeholder="Storage" required="required" /><br>
        <input type="text" name="BusinessCenter" placeholder="Business Center" required="required" /><br>
		
	<input type="text" name="Elevator" placeholder="Elevator" required="required" /><br>
        <input type="text" name="DryCleaningService" placeholder="Dry Cleaning Service" required="required" /><br>
        <input type="text" name="InUnitLaundry" placeholder="In Unit Laundry" required="required" /><br>
        <input type="text" name="AssignedParking" placeholder="Assigned Parking" required="required" /><br>
        <input type="text" name="SwimmingPool" placeholder="Swimming Pool" required="required" /><br>

    	<input type="text" name="OnsiteManagement" placeholder="Onsite Management" required="required" /><br>
        <input type="text" name="Balcony" placeholder="Balcony" required="required" /><br>
        <input type="text" name="CeilingFan" placeholder="Ceiling Fan" required="required" /><br>
        <input type="text" name="ControlledAccess" placeholder="Controlled Access" required="required" /><br>
		
        <input type="text" name="GarageParking" placeholder="Garage Parking" required="required" /><br>
    	<input type="text" name="HighCeilings" placeholder="High Ceilings" required="required" /><br>
        <input type="text" name="OutdoorSpace" placeholder="Outdoor Space" required="required" /><br>
        <input type="text" name="WalkInCloset" placeholder="Walk In Closet" required="required" /><br>
		
        <button type="submit" class="btn btn-primary btn-block btn-large">Predict</button>
    </form>

   <br>
   <br>
  
   
 </div>
 {{pred}}

</body>
</html>
