<!DOCTYPE html>
<html>
<head>
  <meta charset="UTF-8">
  <title>Predict Rental Price of house</title>
  <link href='https://fonts.googleapis.com/css?family=Pacifico' rel='stylesheet' type='text/css'>
<link href='https://fonts.googleapis.com/css?family=Arimo' rel='stylesheet' type='text/css'>
<link href='https://fonts.googleapis.com/css?family=Hind:300' rel='stylesheet' type='text/css'>
<link href='https://fonts.googleapis.com/css?family=Open+Sans+Condensed:300' rel='stylesheet' type='text/css'>
<link type="text/css" rel="stylesheet" href="{{ url_for('static', filename='./style.css') }}">
  
</head>

<body>
	
 <div class="login">
	<h1>Predict Rental Price of house</h1>

     <!-- Form to enter new data for predictions  -->
    <form action="{{ url_for('predict') }}" method="POST">
	
	
  
   
 
    	<input type="number" name="bedrooms" placeholder="bedrooms" required="required" /><br>   
        <input type="number" name="baths" placeholder="baths" required="required" /><br>   
        <input type="number" name="OnSiteLaundry" placeholder="On Site Laundry" required="required" /><br>
        <input type="number" name="AirConditioning" placeholder="Air Conditioning" required="required" /><br>
        <input type="number" name="Dishwasher" placeholder="Dishwasher" required="required" /><br>
	    

    	<input type="number" name="HardwoodFloor" placeholder="Hardwood Floor" required="required" /><br>
        <input type="number" name="CentralHeat" placeholder="Central Heat" required="required" /><br>
        <input type="number" name="FitnessCenter" placeholder="Fitness Center" required="required" /><br>
	<input type="number" name="Storage" placeholder="Storage" required="required" /><br>
        <input type="number" name="BusinessCenter" placeholder="Business Center" required="required" /><br>
	    
	
	<input type="number" name="Elevator" placeholder="Elevator" required="required" /><br>
        <input type="number" name="DryCleaningService" placeholder="Dry Cleaning Service" required="required" /><br>
        <input type="number" name="InUnitLaundry" placeholder="In Unit Laundry" required="required" /><br>
        <input type="number" name="AssignedParking" placeholder="Assigned Parking" required="required" /><br>
	<input type="number" name="Carpet" placeholder="Carpet" required="required" /><br>
	<input type="number" name="Furnished" placeholder="Furnished" required="required" /><br>
        <input type="number" name="SwimmingPool" placeholder="Swimming Pool" required="required" /><br>


    	<input type="number" name="OnsiteManagement" placeholder="Onsite Management" required="required" /><br>
	<input type="number" name="Balcony" placeholder="Balcony" required="required" /><br>
        <input type="number" name="CeilingFan" placeholder="Ceiling Fan" required="required" /><br>
        <input type="number" name="ControlledAccess" placeholder="Controlled Access" required="required" /><br>
	    

        <input type="number" name="GarageParking" placeholder="Garage Parking" required="required" /><br>
    	<input type="number" name="HighCeilings" placeholder="High Ceilings" required="required" /><br>
	<input type="number" name="OutdoorSpace" placeholder="Outdoor Space" required="required" /><br>
        <input type="number" name="WalkInCloset" placeholder="Walk In Closet" required="required" /><br>
		
        <button type="submit" class="btn btn-primary btn-block btn-large">Predict</button>
    </form>

   <br>
   <br>
  
   
		</div>
 {{pred}}

</body>
</html>
